<!DOCTYPE html>
<html>
<head>
  <title>Dummy app</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dummy_app/application", media: "all" %>
  <%= javascript_include_tag "dummy_app/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
